
<h2>Ellipse Throw</h2>
<!-- <input ng-model="value" type="text" id="mySlider1" slider options="{{ec.options}}"/> -->
<md-slider ng-model="value" min="5" max="500">
</md-slider>
<p> Draw your ellipse (keeping a and b between 0 and 2), and then throw an object into orbit!</p>
a: <input type="number" ng-model='ec.params.a'><br>
b: <input type="number" ng-model='ec.params.b'><br>
<button ng-click="ec.drawEllipse(ec.params.a, ec.params.b)">Draw!</button>
<br><br>
<button ng-click="ec.throw()">Throw!</button>


    <div>
    <canvas id="canvas" width="1000" height="1000" style="border:1px solid #d3d3d3;">
    </div>
